<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      
      Fikker is the best way to connect with people, express yourself and discover what's happening. Get started <%= link_to "here.", signup_path %>

    </p>
